#nav {
  display: flex;
  align-items: center;
  text-align: center; 
  padding: 20px 0;
}

#nav>li>a {
  color: $white;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  border-radius: 5px;
}

#nav>li {
  display: inline-block;
  margin: 10px 10px;
  list-style: none;
}

#nav>li>a:hover {
  color: $green;
  border: 1px solid $green;
  padding: 0.5em;
}

#burger {
  width: 45px;
  height: 45px;
  display: none;
}

#burger>div {
  height: 7px;
  margin-bottom: 7px;
  background-color: $white;
}
@media (max-width: 576px) {
  #nav {
    display: flex;
    flex-direction: column;
  
  }
  #nav > li {
      display: none;
  }
  
  #burger {
      display: inline-block;
  }  
  #nav:hover #burger {
      display: none;
  }  
  #nav:hover >li {
      display: block;     
  }
  #nav{
    .menu-item {
      padding-top: 15em;
    }
  }
  
  }
