#nav {
  display: flex;
  align-items: center;
  text-align: center; 
  padding: 20px 20px;
}

#nav>li>a {
  color: $white;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  border-radius: 5px;
}

#nav>li {
  display: inline-block;
  margin: 10px 10px;
  list-style: none;
  a {
    border: 1px solid transparent;
    padding: 0.5em;
    &:hover {
      color: $green;
      border: 1px solid $green;     
    }
  }
}
#burger {
  width: 35px;
  height: 35px;
  display: none;
}

#burger>div {
  height: 5px;
  margin-bottom: 6px;  
  background-color: $white;
}
@media (min-width:320px) and (max-width: 576px) {
  #nav {
    display: flex;
    flex-direction: column;
    background: $dark-bg;
    z-index: 1;
  
  }
  #nav > li {
      display: none;
  }
  
  #burger {
      display: inline-block;
  }  
  #nav:hover #burger {
      display: none;
  }  
  #nav:hover >li {
      display: block;     
  }
  #nav{
    .menu-item {
      padding-top: 15em;
    }
  }
  
  }
  @media (min-width:577px) and (max-width: 992px){
    #nav {
      display: flex;
      flex-direction: column;
      background: $dark-bg;
      z-index: 1;
    
    }
    #nav > li {
        display: none;
    }
    
    #burger {
        display: inline-block;
    }  
    #nav:hover #burger {
        display: none;
    }  
    #nav:hover >li {
        display: block;     
    }
    #nav{
      .menu-item {
        padding-top: 15em;
      }
    }
  }