.section-features{
    height: auto; 
    width: 100%;  
    background: $team-dark-bg;
    padding: 2.5rem 1rem; 
    .display2-features{
        color: $main-text;
        padding-left: 0.5em;
        border-left: 0.4em solid $h2;
        margin: 2em 0;
        font-size: 1.8em;
    }  
    .section-features__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);         
        grid-column-gap: 1rem;               
        .feature-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: flex-start;
            display: block;
            max-width: 100%;
            height: auto;
            .feature-image {
                display: block;
                max-width: 100%;
                height: auto;
            }
            .display3-feature{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                color: $main-text;
                font-size: 1em;
                font-weight: 400;
            }                            
            .text-feature{
                color: $main-text;
                font-size: 1em;
                text-align: justify; 
                max-width: 90%;
                              
            }    
           
        }
    }
    @media screen and (max-width: 576px){          
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }   
                    
    }
    @media screen and (max-width: 768px){
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }   
    }
    @media screen and (max-width: 992px){    
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }  
        
        }
 
}    
