.section-features{
    height: 100vh; 
    width: 100%;  
    background: $team-dark-bg;
    padding: 2.5rem 1rem;   
    .section-features__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);         
        grid-column-gap: 1rem;               
        .feature-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: flex-start;
            .display3-feature{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                color: $main-text;
                font-size: 1em;
                font-weight: 400;
            }                            
            .text-feature{
                color: $main-text;
                font-size: 1em;
                text-align: justify; 
                max-width: 90%;             
                
            }    
           
        }
    }
}    
