.footer{
    height: auto;
    width:100%;
    background: $dark-bg;
    padding: 3em 0;
    color: $white;
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-content__copyright{
            width: 50%;
        }
        .footer-content__social-networks{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            img{              
                
                margin-left:1em;
            }
        }
    }
    @media screen and (max-width:576) {
        .footer-content{
            display: flex;
            flex-direction: column-reverse; 
            align-content: center;   
        }       
}
    @media screen and (max-width: 768px) {
        .footer-content{
            display: flex;
            flex-direction: column-reverse;            
            align-content: center;
    }
       
    }
    @media screen and (max-width: 992px){    
        .footer-content{
            display: flex;
            flex-direction: column-reverse;            
            align-content: center;
    }
}
}
    

