.footer{
    height: auto;
    background: $dark-bg;    
    padding: 3em 0;
    color: $white;
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer-content__copyright{
            width: 50%;
        }
        .footer-content__social-networks{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            img{  
                          
                margin-left:1em;
            }
        }
    }
}
    @media (min-width: 320px) and (max-width: 576px){
        .footer-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer-content__copyright{
            width: 80%;
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }

@media (min-width: 577px) and (max-width: 768px){
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content__copyright{
        width: 80%;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}



