.social-media{
    display: flex;    
    justify-content: flex-start; 
    margin-top: -2rem; 
    margin-bottom: 3rem;      
    .social-media__icon {        
        width: 4em;
        height: 4em;        
        position: relative;
        background: $bg-icons;
        margin-right: 0.2em; 
        cursor: pointer; 
        &:hover{
            background: darken($color:$bg-icons, $amount:50)
        }                 
        .social-media__link{         
            position: absolute;
            margin-left: 35%; 
            transform: translateX(-50%);  
            margin-top: 50%; 
            transform: translateY(-50%);           
            } 
        .social-media__linkf{         
            position: absolute;
            margin-left: 40%; 
            transform: translateX(-50%);  
            margin-top: 50%; 
            transform: translateY(-50%);           
            }  
        .social-media__linkd{         
            position: absolute;
            margin-left: 30%; 
            transform: translateX(-50%);  
            margin-top: 50%; 
            transform: translateY(-50%);           
            }            
        }
    }
@media (min-width:320px) and (max-width: 576px){ 
    .social-media{ 
        justify-content: center; 
        margin-top: 2rem;
        margin-bottom: 3rem;       
        .social-media__icon {        
            width: 2.8em;
            height: 2.8em;                             
            .social-media__link{         
                position: absolute;
                margin-left: 35%; 
                transform: translateX(-50%);  
                margin-top: 50%; 
                transform: translateY(-50%);           
                } 
            .social-media__linkf{         
                position: absolute;
                margin-left: 40%; 
                transform: translateX(-50%);  
                margin-top: 50%; 
                transform: translateY(-50%);           
                }  
            .social-media__linkd{         
                position: absolute;
                margin-left: 20%; 
                transform: translateX(-50%);  
                margin-top: 50%; 
                transform: translateY(-50%);           
                }            
            }
        } 
    }  
.team-member__social-links {          
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 25%; 
    display: none;      
    .social-media__icon_team-member{
        background: $team-dark-bg;
        width: 2.5em;
        height: 2.5em;            
        margin-right: 0.1em;
        position: relative;               
        &:hover{
            cursor:pointer;
            background: $team-member-name; 
        }        
        .social-media__link{         
            position: absolute;
            margin-left: 30%; 
            transform: translateX(-50%);  
            margin-top: 55%; 
            transform: translateY(-50%);           
            }
        }
      
    }
    @media (min-width: 577px) and (max-width: 992px){
        .social-media{
            display: flex;    
            justify-content: flex-start;            
            margin-top: 3rem;
            margin-bottom: 3rem;   
            .social-media__icon {        
                width: 4em;
                height: 4em;        
                position: relative;
                background: $bg-icons;
                margin-right: 0.2em;                                 
                .social-media__link{         
                    position: absolute;
                    margin-left: 35%; 
                    transform: translateX(-50%);  
                    margin-top: 50%; 
                    transform: translateY(-50%);           
                    } 
                .social-media__linkf{         
                    position: absolute;
                    margin-left: 40%; 
                    transform: translateX(-50%);  
                    margin-top: 50%; 
                    transform: translateY(-50%);           
                    }  
                .social-media__linkd{         
                    position: absolute;
                    margin-left: 30%; 
                    transform: translateX(-50%);  
                    margin-top: 50%; 
                    transform: translateY(-50%);           
                    }            
                }
            }
        }
        @media (min-width: 992px) and (max-width: 1280px){
            .social-media{
                display: flex;    
                justify-content: flex-start; 
                margin-top: -5rem;    
                .social-media__icon {        
                    width: 4em;
                    height: 4em;        
                    position: relative;
                    background: $bg-icons;
                    margin-right: 0.2em; 
                    cursor: pointer; 
                    &:hover{
                        background: darken($color:$bg-icons, $amount:50)
                    }                 
                    .social-media__link{         
                        position: absolute;
                        margin-left: 35%; 
                        transform: translateX(-50%);  
                        margin-top: 50%; 
                        transform: translateY(-50%);           
                        } 
                    .social-media__linkf{         
                        position: absolute;
                        margin-left: 40%; 
                        transform: translateX(-50%);  
                        margin-top: 50%; 
                        transform: translateY(-50%);           
                        }  
                    .social-media__linkd{         
                        position: absolute;
                        margin-left: 30%; 
                        transform: translateX(-50%);  
                        margin-top: 50%; 
                        transform: translateY(-50%);           
                        }            
                    }
                }
            }