.social-media{
    display: flex;    
    justify-content: flex-start; 
    padding: 3rem 0;
    .social-media__icon {        
        width: 4em;
        height: 4em;        
        position: relative;
        background: $bg-icons;
        margin-right: 0.2em; 
        cursor: pointer; 
        &:hover{
            background: darken($color:$bg-icons, $amount:50)
        }                 
        .social-media__link{         
            position: absolute;
            margin-left: 35%; 
            transform: translateX(-50%);  
            margin-top: 50%; 
            transform: translateY(-50%);           
            }             
        }
    }
.team-member__social-links {          
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 30%; 
    display: none;      
    .social-media__icon_team-member{
        background: $team-dark-bg;
        width: 2.5em;
        height: 2.5em;            
        margin-right: 0.1em;
        position: relative;               
        &:hover{
            cursor:pointer;
            background: $team-member-name; 
        }        
        .social-media__link{         
            position: absolute;
            margin-left: 30%; 
            transform: translateX(-50%);  
            margin-top: 50%; 
            transform: translateY(-50%);           
            } 

    } 
   
}

