.section-banner{ 
    min-height: 660px;
    max-width: 1560px;  
    height: 500px;    
    position: relative;
    width: 100%;
    .container{
        margin: 60px 0;        
        .banner-content{
            display:flex;
            flex-direction: column;
            justify-content: flex-start;           
            position:absolute;
            top: 30%;
            left: 5%;    
            .display1 {
                color: $white;          
                font-size: 1.5em;
                font-family: "Quattrocento Sans";
                font-weight: 700;      
                text-transform: uppercase;
                margin-bottom: 1.6rem;
            }
            .welcome-text{
                color:$main-text;
                width: 53%;
                font-size: 1em;
                font-family: "Open Sans";
                font-weight: 400;                          
            }
            .btn-group {
                display: flex;
                justify-content: flex-start; 
                margin-top: 2rem;            
                .banner-btn {
                    text-transform: uppercase; 
                    color: $white; 
                    font-family: "Quattrocento Sans";
                    font-weight: 600;
                    width: 9em;
                    height:3em;                                   
                    margin-right: 1rem;                             
                    padding: 0.8em 1.3em;                    
                    border-radius: 5px;
                    border: 2px solid $white;
                    font-size: 1em;            
                    &:hover {
                        background-color: $green;
                        border-color: $green;
                        transition: 0.3s linear;
                        }
                    } 
                }
            }
        }
    }  
.section-modest{
    height: auto;   
    border-bottom: 1px solid $link; 
    margin: 3rem auto;  
    .modest-content{
        display: grid;
        grid-template-columns: 60% 40%;    
        .section-modest__left-block{                                 
            width: 92%;
            font-size:0.95em; 
            line-height: 130%;
            text-align: left;               
            }         
        .section-modest__right-block{                               
            display: grid;
            grid-template-rows: repeat(3, 1fr); 
            grid-gap: 2rem; 
            .right-block-main {
                display: grid;                
                grid-template-columns: 10% 90%;            
                grid-gap: 1.5rem;
                .right-block-element{                                   
                    width: 3.5em;
                    height: 3.5em;
                    background-color: $green; 
                    position: relative;                  
                    .right-block-element__number {                       
                        position: absolute;                       
                        color: $white;                        
                        margin-left: 35%; 
                        transform: translateX(-50%);  
                        margin-top: 50%; 
                        transform: translateY(-50%);            
                    }
                }                         
            .display3{
                margin-top: -0.2rem;                    
                color: $text;
                font-size: 1em;
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;
                padding-bottom: 0.4rem;
            }
            .right-block__text{
                max-width: 90%;
                font-size: 0.95em; 
                text-align: justify;               
                }
            }
        }
    }
}
.section-team{    
    height: auto;    
    background: $white; 
    margin: 3rem auto;      
    .section__our-team {
        display: grid;        
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;     
        .team-member{            
            background-color: $light-bg;
            display: flex;
            flex-direction: column; 
            position: relative;
            .team-member-photo{
                display: block;
                max-width: 100%;
                height: auto;
            }
            &:hover{
                background-color: $team-dark-bg;
                .team-member__social-links{
                    display: flex;
                }
                .team-member-name{
                    color: $link;
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                }
                .team-member-position{
                    color: $link;
                }
            }           
            .team-member-name{
                color: $team-member-name;
                font-weight: bold;
                padding-top: 0.6em;
                padding-left: 0.7em;                
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;                
            }
            .team-member-position{
                color: $text;
                padding-left: 0.7em;
                padding-top: 0.2em;
                padding-bottom: 0.6em;
            }
        }
    }
}
.section-work {    
    height: auto;
    background: $team-dark-bg;
    margin: 3rem auto;  
    .display2-features{
        color: $main-text;
        padding-left: 0.5em;
        border-left: 0.4em solid $h2;
        margin: 2em 0;
        font-size: 1.8em;
    }  
    .section__lovely-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 2rem;    
        .portfolio-item {
            position: relative;                       
            .portfolio-image {
                display: block;
                max-width: 90%;
                height: auto;
            }
            .portfolio-plus{
                position: absolute;
                top:40%;
                left:45%; 
                display: none;               
            }    
            &:hover {
                .portfolio-base {
                    display: block;
                }
                .portfolio-plus{
                    display: block;
                }
        }       
        .portfolio-base {
            width: 90%;
            height: 3.5em;
            background: $pic-base;
            position: absolute;
            top:79%;
            display: none;
        }
        .portfolio-text{
            font-weight: 400;
            padding-top: 1em;
            padding-left: 1em;
            color: $light-bg;
            text-transform: uppercase;
            font-family: 'Quattrocento Sans', sans-serif;
            }   
        }
    }
} 
.section-services{
    height: auto;      
    background: $white;
    margin: 3rem auto;  
    .section-services__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;  
        grid-column-gap: 2.5rem;  
        grid-row-gap: 4rem;            
        .service-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: center; 
            .display3{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;
            }  
            .text{
                text-align: center;
                max-width: 95%;                
            }          
        }
    }
}               
.section-features{
    height: auto;     
    background: $team-dark-bg;
    margin: 3rem auto;    
    .section-features__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);                    
        .feature-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: flex-start;
            display: block;
            max-width: 100%;
            height: auto;
            .feature-image {
                display: block;
                max-width: 90%;
                height: auto;
            }
            .display3-feature{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                color: $main-text;
                font-size: 1em;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;
            }                            
            .text-feature{
                color: $main-text;
                font-size: 1em;
                text-align: justify; 
                max-width: 90%;
                                           
            }               
        }
    }
} 
.section-contact {
    margin: 3rem auto;  
    .container {
        position: relative;    
        .section-contact__content {            
            display: flex;                   
            padding-top: 2rem;                
            .contact__info{                          
                .contact-text {    
                    color: $text;
                    width: 95%;                   
                    padding-bottom: 1.5rem;
                    }
                .contact__title {
                    margin-bottom: 1.5rem;    
                    color: $h2;    
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                    }
                }
            .form{
                width:100%;
                height:auto;
                background: $white;                
                margin-top: -10em;
                padding: 1rem;
                .form__data{
                    display: flex;
                    justify-content: space-between;                    
                    .name {                       
                        margin-bottom: 1.5rem;
                        .form__label {
                            text-transform: uppercase;
                            font-family: 'Quattrocento Sans', sans-serif;
                            display: block;
                            color: $h2;
                            margin-bottom: 0.625rem;
                            font-size: 1rem;
                            }                        
                        .form__input {
                            width: 100%;                           
                            border: none;
                            border-radius: 0.2em;
                            background-color: $bg-contact;
                            font-family: "OpenSans-Regular";
                            height: 2.75rem;                           
                            font-size: 1.4em;
                            font-style: italic;
                            color: $text;
                            padding-left: 1em;
                            outline: none;
                            box-sizing: border-box;
                        }
                    }
                }
                .form__label {
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                    display: block;
                    color: $h2;
                    margin-bottom: 0.625rem;
                    font-size: 1rem;
                    }
                .textarea {
                    display: block;
                    width: 100%;
                    resize: none;
                    border: none;
                    border-radius: 3px;
                    background-color: $bg-contact;
                    font-size: 1.2em;                 
                    font-style: italic;
                    color: $text;                    
                    padding-left: 1em;
                    padding-top: 1em;
                    font-family: "OpenSans-Regular";
                    outline: none;
                    margin-bottom: 2rem;
                    box-sizing: border-box;                   
                    
                }            
            }
        }
    }
}    
