.section-banner{
    height: 500px;
    width: 100%;
    background: url("../images/photo1.png") no-repeat;
    background-size: cover; 
    .welcome-text{
        max-width: 42em;    
        padding-top: 7em;         
        .display1{
            color: $white; 
            padding-bottom: 2rem;                                  
        }
        .welcome-text__text {
            color: $main-text;
        }
    } 
@media screen and (max-width: 576px){
    .section-banner{
        height: auto;
    }
    .welcome-text {
        max-width: 25em;    
        padding-top: 2.5em; 
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .section-banner{
        height: auto;
    }
    .welcome-text {
        max-width: 28em;    
        padding-top: 6em;
        text-align: center; 
    }
}
@media screen and (max-width: 992px){
    .section-banner{
        height: auto;
    }
    .welcome-text {
        max-width: 30em;    
        padding-top: 6em;
        text-align: center;   
        }
    }
@media screen and (max-width: 1200px){
    .section-banner{
        height: auto;
    }
    .welcome-text {
        max-width: 30em;    
        padding-top: 6em;
        text-align: center;         
        }
    }
}
.section-modest{
    height: auto;   
    border-bottom:1px solid $link; 
    padding: 1rem; 
    .modest-content{
        display: grid;
        grid-template-columns: 62% 38%;
    } 
    .section-modest__left-block{                                 
        width: 100%;
        float: left;                  
        .section-modest__text-block{
            display: flex;
            flex-direction: column;            
            .text-block__left {                    
                max-width: 95%;
                text-align: justify;
                }
            }
        }         
    .section-modest__right-block{                               
        float: right;
        width:100%;            
        .right-block-main {
            display: flex;                
            justify-content: space-between;
            margin-bottom: 2rem; 
            .right-block-element{
                width:10%;                    
                width: 3.5em;
                height: 3.5em;
                background-color: $green; 
                position: relative;                  
                .right-block-element__number {                       
                    position: absolute;                       
                    color: $white;                        
                    margin-left: 35%; 
                    transform: translateX(-50%);  
                    margin-top: 50%; 
                    transform: translateY(-50%);            
                }
            }
            .right-block-text {
                width: 85%;                   
                display: flex;
                flex-direction: column;
                align-content: space-between;
                .display3{
                    margin-top: -0.2rem;
                    padding-bottom: 0.3rem;
                    color: $text;
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                }
                .right-block__text{
                    max-width: 100%;
                }
            }
        }
    }
}
.section-team{    
    height: auto;    
    background: $white; 
    padding: 1rem; 
    .section__our-team {
        display: grid;        
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;     
        .team-member{
            width: 260px;
            height: 370px;
            background-color: $light-bg;
            display: flex;
            flex-direction: column; 
            position: relative;
            .team-member-photo{
                display: block;
                max-width: 100%;
                height: auto;
            }
            &:hover{
                background-color: $team-dark-bg;
                .team-member__social-links{
                    display: flex;
                }
                .team-member-name{
                    color: $link;
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                }
                .team-member-position{
                    color: $link;
                }
            }           
            .team-member-name{
                color: $team-member-name;
                font-weight: bold;
                padding-top: 0.9rem;
                padding-left: 0.7rem;                
            }
            .team-member-position{
                color: $text;
                padding-left: 0.7rem;
                padding-top: 0.2rem;
            }
        }
    }

@media screen and (max-width: 576px){   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }    
}
@media screen and (max-width: 768px){
   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }  
}
@media screen and (max-width: 992px){    
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem;         
    } 
    }
@media screen and (max-width: 1200px){   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;             
        grid-gap: 1rem; 
    
    }
}
}
.section-work {    
    height: auto;
    background: $team-dark-bg;
    padding: 1rem;
    .display2-features{
        color: $main-text;
        padding-left: 0.5em;
        border-left: 0.4em solid $h2;
        margin: 2em 0;
        font-size: 1.8em;
    }  
    .section__lovely-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);       
        grid-gap: 1.5rem;
        .portfolio-item {
            position: relative;            
            .portfolio-image {
                display: block;
                max-width: 100%;
                height: auto;
            }
            .portfolio-plus{
                position: absolute;
                top:40%;
                left:45%; 
                display: none;               
            }    
            &:hover {
                .portfolio-base {
                    display: block;
                }
                .portfolio-plus{
                    display: block;
                }
        }       
        .portfolio-base {
            width: 98.5%;
            height: 3.5em;
            background: $pic-base;
            position: absolute;
            top:75%;
            display: none;
        }
        .portfolio-text{
            font-weight: 400;
            padding-top: 1em;
            padding-left: 1em;
            color: $light-bg;
            text-transform: uppercase;
            font-family: 'Quattrocento Sans', sans-serif;
        }   
    }
}
@media screen and (max-width: 576px){   
    .section__lovely-work {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }       
}
@media screen and (max-width: 768px){   
    .section__lovely-work{
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }    
}
@media screen and (max-width: 992px){    
    .section__lovely-work {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem;         
        }
    }
}
.section-services{
    height: auto;      
    background: $white;
    padding: 1rem; 
    .section-services__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;  
        grid-column-gap: 2.5rem;  
        grid-row-gap: 4rem;            
        .service-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: center; 
            .display3{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;
            }  
            .text{
                text-align: center;
                max-width: 95%;
                
            }    
           
        }
    }
    @media screen and (max-width: 576px){          
        .section-services__main {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;  
            grid-gap: 1rem;  
        }             
    }
    @media screen and (max-width: 768px){
        .section-services__main {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;  
            grid-gap: 1rem;          
            
        }   
    }
    @media screen and (max-width: 992px){    
        .section-services__main {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;  
            grid-gap: 1rem;  
        }   
        }
    @media screen and (max-width: 1200px){   
        .section-services__main {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;  
            grid-gap: 1rem;  
        } 
    } 
}
.section-features{
    height: auto;     
    background: $team-dark-bg;
    padding: 1rem;     
    .section-features__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);         
        grid-column-gap: 1rem;               
        .feature-item {
            display: flex;
            flex-direction: column;  
            justify-content: space-between;
            align-items: flex-start;
            display: block;
            max-width: 100%;
            height: auto;
            .feature-image {
                display: block;
                max-width: 100%;
                height: auto;
            }
            .display3-feature{
                padding-top:1.2rem;
                padding-bottom: 1.2rem;
                color: $main-text;
                font-size: 1em;
                font-weight: 400;
                text-transform: uppercase;
                font-family: 'Quattrocento Sans', sans-serif;
            }                            
            .text-feature{
                color: $main-text;
                font-size: 1em;
                text-align: justify; 
                max-width: 90%;
                              
            }    
           
        }
    }
    @media screen and (max-width: 576px){          
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }   
                    
    }
    @media screen and (max-width: 768px){
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }   
    }
    @media screen and (max-width: 992px){    
        .section-features__main {
            display: grid;
            grid-template-columns: 1fr;          
            grid-gap: 2rem;    
        }          
    } 
} 
.section-contact {
    .container {
        position: relative;    
        .section-contact__content {            
            display: grid;
            grid-template-columns: 1fr 1fr;            
            padding-top: 2rem;
            padding-bottom: 2rem;
            .contact__info{
                width: 100%;            
                .contact-text {    
                    color: $text;
                    width: 95%;
                    line-height: 150%;
                    margin-bottom: 2rem;
                    }
                .contact__title {
                    margin-bottom: 1.5rem;    
                    color: $h2;    
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                    }
                }
            .form{
                width:100%;
                height:auto;
                background: $white;
                margin-top: -20em;
                .form__data{
                    display: flex;
                    justify-content: space-between;
                    
                    .name {
                        max-width: 15rem;
                        margin-bottom: 1.5rem;
                        .form__label {
                            text-transform: uppercase;
                            font-family: 'Quattrocento Sans', sans-serif;
                            display: block;
                            color: $h2;
                            margin-bottom: 0.625rem;
                            font-size: 1rem;
                            }
                        .form__input {
                            width: 97%;
                            border: none;
                            border-radius: 0.2em;
                            background-color: $bg-contact;
                            height: 2.75rem;
                            padding-left: 1rem;
                            font-size: 1rem;
                            outline: none;
                            box-sizing: border-box;
                            }
                        }
                }
                .form__label {
                    text-transform: uppercase;
                    font-family: 'Quattrocento Sans', sans-serif;
                    display: block;
                    color: $h2;
                    margin-bottom: 0.625rem;
                    font-size: 1rem;
                    }
                .textarea {
                    display: block;
                    width: 100%;
                    resize: none;
                    border: none;
                    border-radius: 3px;
                    background-color: $bg-contact;
                    font-size: 1em;
                    padding-left: 1em;
                    font-family: "OpenSans-Regular";
                    outline: none;
                    margin-bottom: 2rem;
                    box-sizing: border-box;
                    padding-left: 1em;
                    padding-top: 1em;
                    }            
                }
            }
        }
}




