@media (min-width:320px) and (max-width: 480px){    
    .section-banner{ 
        height: 100vh;                  
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{
                            align-items: center;                                                                                                              
                            .display1 {                                   
                                font-size: 1.2em;                                
                                text-align: center;
                                width: 90%;
                                                    
                            }
                            .welcome-text{                  
                                text-align: center;                               
                                font-size: 1.2em; 
                                width: 100%;                                                                                                    
                            }
                            .btn-group{
                                flex-direction: column;  
                                align-items: center;                                                            
                                .banner-btn {                        
                                    font-weight: 500;                      
                                    font-size: 0.8em; 
                                    margin-bottom: 1rem; 
                                    width: 9em;
                                    height:2.8em; 
                                    padding: 0.7em 1.2em;                                
                                    }
                                }
                            }
                        }
                    }
                }                 
            }
        }          
    .section-modest{
        .container{
            .modest-content{               
                grid-template-columns: 100%;
                justify-items: center;
                .section-modest__left-block{                   
                    text-align: justify;
                    margin-bottom: 2rem;                             
                    }   
                .section-modest__right-block{      
                    grid-template-rows: auto auto auto; 
                    padding-left: 0.7rem;
                    .right-block-main {                              
                        grid-template-columns: 15% 80%; 
                        grid-gap: 1rem;                                                                         
                        .right-block-element{                                   
                            width: 2.5em;
                            height: 2.5em;                              
                        }
                        .right-block-text{
                            .right-block__text{                                
                                text-align: justify;
                                font-size:0.8em;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-team{                      
        .container{
            .section__our-team {                
                grid-template-columns: 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{               
                grid-template-columns: 1fr; 
                padding: 0 1.1em;
                .portfolio-item {
                    text-align: center;
                }             
                
            }
        }
    }
    .section-services{        
        .container{
            .section-services__main {                
                grid-template-columns: 1fr;               
                grid-row-gap: 2rem;
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr; 
                justify-items: center;
                grid-row-gap: 2rem; 
                .feature-item{ 
                    display:flex;
                    align-items: center; 
                    .feature-image {                        
                        width: 90%;                        
                    }                  
                    .text-feature{
                        font-size: 0.8em;
                    } 
                }       
            }
        }   
    }
    #contact{                 
        .contacts {
            flex-direction: column;
            .contact-info{
                width: 100%;
                .contact-text{
                    text-align: justify;
                }
            }
            .contact-form{
                width: 100%;
                margin-top: 2rem;
                padding: 0;           
                form {
                    .input-group{
                        flex-direction: column;
                        label{
                            width: 100%;
                        }                      
                        
                    }
                }
                
            }
        }     
    }
}

@media (min-width:481px) and (max-width: 576px){     
    .section-banner{ 
        height: 100vh;                  
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{
                            align-items: center;                                                                                                              
                            .display1 {                                   
                                font-size: 1.2em;                                
                                text-align: center;
                                width: 90%;
                                                    
                            }
                            .welcome-text{                  
                                text-align: center;                               
                                font-size: 1.2em; 
                                width: 100%;                                                                                                    
                            }
                            .btn-group{  
                                width: 55%;                                                                                         
                                .banner-btn {                        
                                    font-weight: 500;                      
                                    font-size: 0.8em; 
                                    margin-bottom: 1rem; 
                                    width: 9em;
                                    height:2.8em; 
                                    padding: 0.7em 1.2em;                                
                                    }
                                }
                            }
                        }
                    }
                }                 
            }
        }          
        .section-modest{
            .container{
                .modest-content{               
                    grid-template-columns: 100%;
                    .section-modest__left-block{                   
                        text-align: justify;
                        margin-bottom: 2rem;
                        font-size:1em;                   
                        width: 100%;              
                        }   
                    .section-modest__right-block{      
                        grid-template-rows: auto auto auto;  
                        .right-block-main {                              
                            grid-template-columns: 10% 90%;                                                                          
                            .right-block-element{                                   
                                width: 3.5em;
                                height: 3.5em;                              
                            }
                            .right-block-text{
                                .right-block__text{
                                    text-align: justify;
                                    font-size:1em;                                 
                                }
                            }
                        }
                    }
                }
            }
        }
    .section-team{                      
        .container{
            .section__our-team {                
                grid-template-columns: 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{               
                grid-template-columns: 1fr;             
                .portfolio-item {
                    text-align: center;                          
                }
            }
        }
    }
    .section-services{        
        .container{
            .section-services__main {                
                grid-template-columns: 1fr;               
                grid-row-gap: 2rem;
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr; 
                justify-items: center;
                grid-row-gap: 2rem; 
                .feature-item{ 
                    display:flex;
                    align-items: center;
                    .feature-image {                        
                        width: 100%;                        
                    }                   
                    .text-feature{
                        font-size: 0.9em;
                        width: 100%;
                    } 
                }       
            }
        }   
    }
    #contact{                 
        .contacts {
            flex-direction: column;
            .contact-info{
                width: 100%;
                .contact-text{
                    text-align: justify;
                }
            }
            .contact-form{
                width: 100%;
                margin-top: 2rem;
                padding: 0;           
                form {
                    .input-group{
                        flex-direction: column;
                        label{
                            width: 100%;
                        }                      
                        
                    }
                }
                
            }
        }     
    }
}
@media (min-width: 577px) and (max-width: 768px){ 
    .section-banner{ 
        height: 100vh;                  
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{                                                                                                                                        
                            .display1 {                                   
                                font-size: 1.5m;                                               
                            }
                            .welcome-text{                                                              
                                font-size: 1.4em; 
                                width: 80%;                                                                                                    
                            }
                            .btn-group{  
                                width: 58%;                       
                                }
                            }
                        }
                    }
                }                 
            }
        }             
    .section-modest{
        .container{
            .modest-content{               
                grid-template-columns: 100%;
                .section-modest__left-block{                   
                    text-align: justify;
                    margin-bottom: 1rem;
                    font-size:1em;                   
                    width: 100%;              
                    }   
                .section-modest__right-block{      
                    grid-template-rows: auto auto auto;  
                    .right-block-main {                              
                        grid-template-columns: 10% 90%;                                                                          
                        .right-block-element{                                   
                            width: 3.5em;
                            height: 3.5em;                              
                        }
                        .right-block-text{
                            .right-block__text{
                                text-align: justify;
                                font-size:1em;                                 
                            }
                        }
                    }
                }
            }
        }
    }
    .section-team{
        .container{
            .section__our-team {                
                grid-template-columns: 1fr 1fr;                
                justify-items: center;                
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{                
                grid-template-columns: 1fr 1fr;            
                grid-column-gap: 1.5rem;
            }
        }
    }
    .section-services{
        .container{
            .section-services__main {
                grid-template-columns: 1fr 1fr;                            
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {               
                grid-template-columns: 1fr 1fr;
                grid-gap: 1.5rem;              
                .feature-item {                                     
                    .text-feature{                        
                        width: 100%;  
                        font-size: 1em;

                    }                    
                }
            }   
        }
    }
    #contact{                 
        .contacts {
            flex-direction: column;
            .contact-info{
                width: 100%;
                .contact-text{
                    text-align: justify;
                }
            }
            .contact-form{
                width: 100%;
                margin-top: 2rem;
                padding: 0;           
                form {
                    .input-group{
                        flex-direction: column;
                        label{
                            width: 100%;
                        }                      
                        
                    }
                }
                
            }
        }     
    }
}

@media (min-width: 769px) and (max-width: 992px){ 
    .section-banner{ 
        height: 100vh;                  
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{                    
                            .btn-group{  
                                width: 45%;                       
                                }
                            }
                        }
                    }
                }
                .swiper-pagination{
                    text-align: right;
                    padding-right:5%;
                    padding-bottom: 5%;
                }                 
            }
        } 
                    
    .section-team{
        .container{
            .section__our-team {               
                grid-template-columns: 1fr 1fr 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{                
                grid-template-columns: 1fr 1fr 1fr;          
                grid-column-gap: 1.5rem;
               
            }
        }
    }
    .section-services{
        .container{
            .section-services__main {                
                grid-template-columns: 1fr 1fr 1fr;                    
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr 1fr; 
                grid-gap: 1.5rem;              
                .feature-item {                                    
                    .text-feature{                        
                        width: 100%;                        
                    }                    
                }
            }   
        }
    }
}
@media (min-width: 993px) and (max-width: 1199px){ 
.section-banner{ 
    height: 100vh;                  
    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{                    
                .container{                               
                    .banner-content{                    
                        .btn-group{  
                            width: 35%;                       
                            }
                        }
                    }
                }
            }
            .swiper-pagination{
                text-align: right;
                padding-right:10%;
                padding-bottom: 5%;
            }                 
        }
    }
}
.section-modest{
    .container{
        .modest-content{    
            .section-modest__right-block{      
                margin-bottom: 3rem;                            
                        }
                    }
                }
            } 
    

@media (min-width: 1200px) and (max-width: 1500px){
    .section-banner{ 
        height: 100vh;                  
        .swiper-container{            
            .swiper-pagination{
                text-align: right;
                padding-right:5%;
                padding-bottom: 5%;
            }                 
        }
    }
} 

  

     

