@media (min-width:320px) and (max-width: 480px){ 
    .section-banner{
        height: 70vh;            
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{
                            align-items: center;                                    
                            .display1 {                                   
                                font-size: 1.2em;                                
                                text-align: center; 
                                width: 90%;                          
                            }
                            .welcome-text{                  
                                text-align: center;
                                width: 90%;
                                font-size: 1em;                                                                                                     
                            }
                            .btn-group{
                                flex-direction: column;
                                align-items: center;                                 
                                .banner-btn {                        
                                    font-weight: 500;                      
                                    font-size: 0.8em; 
                                    margin-bottom: 1rem; 
                                    width: 9em;
                                    height:2.8em; 
                                    padding: 0.7em 1.2em;                                
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
            
    .section-modest{
        .container{
            .modest-content{               
                grid-template-columns: 100%;
                justify-items: center;
                .section-modest__left-block{                   
                    text-align: justify;
                    margin-bottom: 2rem;                             
                    }   
                .section-modest__right-block{      
                    grid-template-rows: auto auto auto; 
                    padding-left: 0.7rem;
                    .right-block-main {                              
                        grid-template-columns: 15% 80%; 
                        grid-gap: 1rem;                                                                         
                        .right-block-element{                                   
                            width: 2.5em;
                            height: 2.5em;                              
                        }
                        .right-block-text{
                            .right-block__text{                                
                                text-align: justify;
                                font-size:0.8em;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-team{                      
        .container{
            .section__our-team {                
                grid-template-columns: 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{               
                grid-template-columns: 1fr; 
                padding: 0 1.1em;
                .portfolio-item {
                    text-align: center;
                }             
                
            }
        }
    }
    .section-services{        
        .container{
            .section-services__main {                
                grid-template-columns: 1fr;               
                grid-row-gap: 2rem;
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr; 
                justify-items: center;
                grid-row-gap: 2rem; 
                .feature-item{ 
                    display:flex;
                    align-items: center; 
                    .feature-image {                        
                        width: 90%;                        
                    }                  
                    .text-feature{
                        font-size: 0.8em;
                    } 
                }       
            }
        }   
    }
    .section-contact{
        .container{        
            .section-contact__content {                              
                flex-direction: column;                
                .contact__info{
                    width: 100%;
                    margin: 0 auto;                    
                    text-align: justify; 
                    margin-bottom: 10em;                  
                }
                .form {                    
                    .form__data{
                        flex-direction: column;                        
                    }          
                }
            }                
        }
    } 
    #contact{
        .container{
            .section-contact__content {
                .form{
                    padding: 0;
                    .form__data{
                        padding-top: 2rem;
                    }
                    
                }
            } 
        }
    }      
}
@media (min-width:481px) and (max-width: 576px){    
    .section-banner{
        height: 70vh;            
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{                    
                    .container{                               
                        .banner-content{
                            align-items: center;                                    
                            .display1 {                                   
                                font-size: 1.2em;                                
                                text-align: center; 
                                width: 90%;                          
                            }
                            .welcome-text{                  
                                text-align: center;
                                width: 90%;
                                font-size: 1em;                                                                                                     
                            }
                        .btn-group{                                                           
                            .banner-btn {                        
                                font-weight: 500;                      
                                font-size: 0.8em; 
                                margin-bottom: 1rem; 
                                width: 9em;
                                height:2.8em; 
                                padding: 0.7em 1.2em;                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
    .section-modest{
        .container{
            .modest-content{               
                grid-template-columns: 100%;
                justify-items: center;                
                .section-modest__left-block{                   
                    text-align: justify;
                    margin-bottom: 2rem;
                    font-size:0.9em;                             
                    }   
                .section-modest__right-block{      
                    grid-template-rows: auto auto auto;                     
                    .right-block-main {                              
                        grid-template-columns: 10% 80%; 
                                                                                                
                        .right-block-element{                                   
                            width: 2.5em;
                            height: 2.5em;                              
                        }
                        .right-block-text{
                            .right-block__text{                                
                                text-align: justify;
                                font-size:0.9em;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-team{                      
        .container{
            .section__our-team {                
                grid-template-columns: 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{               
                grid-template-columns: 1fr;             
                .portfolio-item {
                    text-align: center;                          
                }
            }
        }
    }
    .section-services{        
        .container{
            .section-services__main {                
                grid-template-columns: 1fr;               
                grid-row-gap: 2rem;
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr; 
                justify-items: center;
                grid-row-gap: 2rem; 
                .feature-item{ 
                    display:flex;
                    align-items: center;
                    .feature-image {                        
                        width: 100%;                        
                    }                   
                    .text-feature{
                        font-size: 0.9em;
                        width: 100%;
                    } 
                }       
            }
        }   
    }
    .section-contact{
        .container{        
            .section-contact__content {                              
                flex-direction: column;                
                .contact__info{
                    width: 100%;
                    margin: 0 auto;                    
                    text-align: justify; 
                    margin-bottom: 10em;                  
                }
                .form { 
                    padding: 0;                   
                    .form__data{
                        flex-direction: column;                       
                    }          
                }
            }                
        }
    }       

#contact{
    .container{
        .section-contact__content {
            .form{
                padding: 0;
                .form__data{
                    padding-top: 2rem;
                }
                
            }
        } 
    }
}
}
@media (min-width: 577px) and (max-width: 768px){ 

    .section-modest{
        .container{
            .modest-content{               
                grid-template-columns: 98%;
                .section-modest__left-block{                   
                    text-align: justify;
                    margin-bottom: 2rem;
                    font-size:1em;                   
                    width: 100%;              
                    }   
                .section-modest__right-block{      
                    grid-template-rows: auto auto auto;  
                    .right-block-main {                              
                        grid-template-columns: 10% 90%;                                                                          
                        .right-block-element{                                   
                            width: 3.5em;
                            height: 3.5em;                              
                        }
                        .right-block-text{
                            .right-block__text{
                                text-align: justify;
                                font-size:1em;                                 
                            }
                        }
                    }
                }
            }
        }
    }
    .section-team{
        .container{
            .section__our-team {                
                grid-template-columns: 1fr 1fr;                
                justify-items: center;                
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{                
                grid-template-columns: 1fr 1fr;            
                grid-column-gap: 1.5rem;
            }
        }
    }
    .section-services{
        .container{
            .section-services__main {
                grid-template-columns: 1fr 1fr;                            
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {               
                grid-template-columns: 1fr 1fr;
                grid-gap: 1.5rem;              
                .feature-item {                                     
                    .text-feature{                        
                        width: 100%;  
                        font-size: 1em;

                    }                    
                }
            }   
        }
    }
    .section-contact{
        .container{        
            .section-contact__content {                              
                flex-direction: column;
                align-content: space-between;
                .contact__info{
                    width: 100%;
                    margin: 0 auto;                    
                    text-align: justify; 
                    margin-bottom: 10em;                   
                }
                .form { 
                    .form__data{
                        flex-direction: column;                        
                    }          
                }
            }                
        }
    } 
    #contact{
        .container{
            .section-contact__content {
                .form{
                    padding: 0;
                    .form__data{
                        padding-top: 2rem;
                    }
                    
                }
            } 
        }
    }      
}
@media (min-width: 769px) and (max-width: 992px){ 
    .section-team{
        .container{
            .section__our-team {               
                grid-template-columns: 1fr 1fr 1fr;            
                justify-items: center;               
            } 
        }
    }
    .section-work{
        .container{
            .section__lovely-work{                
                grid-template-columns: 1fr 1fr 1fr;          
                grid-column-gap: 1.5rem;
               
            }
        }
    }
    .section-services{
        .container{
            .section-services__main {                
                grid-template-columns: 1fr 1fr 1fr;                    
                .service-item{
                    width:100%;
                }
            } 
        }
    }
    .section-features{
        .container{
            .section-features__main {                
                grid-template-columns: 1fr 1fr; 
                grid-gap: 1.5rem;              
                .feature-item {                                    
                    .text-feature{                        
                        width: 100%;                        
                    }                    
                }
            }   
        }
    }
    .section-contact{
        .container{        
            .section-contact__content {                 
                .contact__info{
                    width: 95%;                                      
                    text-align: justify; 
                    .contact-text{
                        width: 90%;
                        font-size: 1em;
                    }                                      
                }
                .form { 
                    .form__data{
                        flex-direction: column;                        
                    }          
                }
            }                
        }
    }
    #contact{
        .container{
            .section-contact__content {                 
                .contact__info{
                    .contact-text{
                        width: 90%;
                    }
                }
            }
        }
    }       
}
@media (min-width:993px) and (max-width: 1169px){  
    #contact{ 
        .container{            
            .section-contact__content {               
                .form { 
                    .form__data{                        
                        .name{
                            .form__input{
                                font-size: 1em;
                        }
                    }          
                }
            }                
    }
}
} 
}      

