.section-modest{
    height: 35em;    
    width: 100%;    
    border-bottom:1px solid $link;   
    .section-modest__left-block{                                 
        width: 62%;
        float: left;                  
        .section-modest__text-block{
            display: flex;
            flex-direction: column;            
            .text-block__left {                    
                max-width: 95%;
                text-align: justify;
                }
            }
        }         
    .section-modest__right-block{                               
        float: right;
        width:38%;            
        .right-block-main {
            display: flex;                
            justify-content: space-between;
            margin-bottom: 2rem; 
            .right-block-element{
                width:10%;                    
                width: 3.5em;
                height: 3.5em;
                background-color: $green; 
                position: relative;                  
                .right-block-element__number {                       
                    position: absolute;                       
                    color: $white;                        
                    margin-left: 35%; 
                    transform: translateX(-50%);  
                    margin-top: 50%; 
                    transform: translateY(-50%);            
                }
            }
            .right-block-text {
                width: 85%;                   
                display: flex;
                flex-direction: column;
                align-content: space-between;
                .display3{
                    margin-top: -0.2rem;
                    padding-bottom: 0.3rem;
                    color: $text;
                }
                .right-block__text{
                    max-width: 100%;
                }
            }
        }
    }
}



                
            
