.section-team{
    width: 100%;
    height: auto;    
    background: $white; 
    padding: 2rem 0;  
    .section__our-team {
        display: grid;        
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;     
        .team-member{
            width: 260px;
            height: 370px;
            background-color: $light-bg;
            display: flex;
            flex-direction: column; 
            position: relative;
            .team-member-photo{
                display: block;
                max-width: 100%;
                height: auto;
            }
            &:hover{
                background-color: $team-dark-bg;
                .team-member__social-links{
                    display: flex;
                }
                .team-member-name{
                    color: $link;
                }
                .team-member-position{
                    color: $link;
                }
            }           
            .team-member-name{
                color: $team-member-name;
                font-weight: bold;
                padding-top: 0.9rem;
                padding-left: 0.7rem;                
            }
            .team-member-position{
                color: $text;
                padding-left: 0.7rem;
                padding-top: 0.2rem;
            }
        }
    }

@media screen and (max-width: 576px){   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }    
}
@media screen and (max-width: 768px){
   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem; 
    }  
}
@media screen and (max-width: 992px){    
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 1rem;         
    } 
    }
@media screen and (max-width: 1200px){   
    .section__our-team {
        display: grid;
        grid-template-columns: 1fr;             
        grid-gap: 1rem; 
    
    }
}
}
