$green: #23b7a4;
$dark-bg: #1d2126;
$link: #a4aead;
$white: #ffffff;
$bg-icons: #c8cdd0;
$text: #8d8f92;
$team-dark-bg: #3a454d;
$menu-hover: #9fa9a8;
$team-member-name: #818181;
$light-bg: #e1e6ea;
$pic-base: #292f36;
$main-text: #dcdfe1;
$bg-contact: #eaeef1;
$banner-bg: #3a454d;
$h2: #4e5a62;
$column_count: 12;
