.section-work {
    width: 100%;
    height: auto;
    background: $team-dark-bg;
    padding: 2rem;
    .section__lovely-work{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(20em, auto);
        grid-gap: 1.5rem;
        .portfolio-item {
            position: relative;            
            .portfolio-image {
                display: block;
                max-width: 100%;
                height: auto;
            }
            .portfolio-plus{
                position: absolute;
                top:40%;
                left:45%; 
                display: none;               
            }    
            &:hover {
                .portfolio-base {
                    display: block;
                }
                .portfolio-plus{
                    display: block;
                }
        }       
        .portfolio-base {
            width: 98.5%;
            height: 3.5em;
            background: $pic-base;
            position: absolute;
            top:75%;
            display: none;
        }
        .portfolio-text{
            font-weight: 400;
            padding-top: 1em;
            padding-left: 1em;
            color: $light-bg;
        }   
    }
}
@media screen and (max-width: 576px){   
    .section__lovely-work {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 0.5rem; 
    }       
}
@media screen and (max-width: 768px){   
    .section__lovely-work{
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 0.5rem; 
    }    
}
@media screen and (max-width: 992px){    
    .section__lovely-work {
        display: grid;
        grid-template-columns: 1fr;        
        grid-gap: 0.5rem;         
    } 
      }
@media screen and (max-width: 1200px){   
    .section__lovely-work {
        display: grid;
        grid-template-columns: 1fr;             
        grid-gap: 0.5rem;
    
    }   
}
}
